**

!entrypoint.sh
!Dockerfile
!README.md
!LICENSE
!example.env

#!scripts/**
#!tools/**

.env
.env.*

data/
config/
mariadb_data/
logs/
backups/

.git/
.github/
.gitattributes
.gitignore

.DS_Store
Thumbs.db
*.swp
*.swo
*.tmp
*.log
.vscode/
.idea/